ENVIRONMENT=development
PORT=3003
LOCAL_DB_HOSTNAME=localhost
LOCAL_DB_USERNAME=root
LOCAL_DB_PASSWORD=password
LOCAL_DB_DATABASE=endpoint
LOCAL_DB_PORT=3306

NOCO_DB_HOSTNAME=localhost
NOCO_DB_USERNAME=nocodb
NOCO_DB_PASSWORD=nocodb_password
NOCO_DB_DATABASE=nocodb
NOCO_DB_PORT=3306

CORS_ORIGINS="https://coftechservices.com,https://app.coftechservices.com"
CORS_ALLOWED_IPS=xxxxxx

JWT_SECRET=xxxxxxxxxxxx

WEBHOOK_INFO_ENDPOINT="Get a URL from https://webhook.site/ and paste it here"
WEBHOOK_ERROR_ENDPOINT="Get a URL from https://webhook.site/ and paste it here"

AWS_ACCESS_KEY_ID=xxxx
AWS_SECRET_ACCESS_KEY=xxx
AWS_SESSION_TOKEN=xxx # optional for sso
AWS_DEFAULT_REGION=us-east-1

AWS_PUBLIC_BUCKET=coftech-backend-public-bucket
AWS_FILEMANAGER_BUCKET=coftech-backend-filemanager-bucket
AWS_DESK_BUCKET=coftech-backend-desk-bucket
AWS_S3_INPUT_BUCKET=coftech-backend-input
AWS_S3_INPUT_BUCKET_TEST=coftech-backend-input-test
AWS_S3_MEDIA_BUCKET=coftech-backend-media-store
AWS_SNS_RAG_TOPICARN=arn:aws:sns:us-east-1:ACCOUNT_ID:coftech-backend-rag-notifications-test
AWS_SNS_REPORT_SUMMARY_TOPICARN=arn:aws:sns:us-east-1:ACCOUNT_ID:coftech-backend-report-summary-notifications-test
AWS_SQS_FILEMANAGER_QUEUE_URL=https://sqs.us-east-1.amazonaws.com/ACCOUNT_ID/coftech-backend-filemanager-queue-dev

AWS_SSH_SECRET_NAME=xxxxx
AWS_LIGHTSAIL_KEY_PAIR_NAME=xxxxx

AWS_LAMBDA_REPORT_DEV_ARN="arn:aws:lambda:us-east-1:ACCOUNT_ID:function:coftech-backend-report-bot-dev"
AWS_LAMBDA_REPORT_PROD_ARN="arn:aws:lambda:us-east-1:ACCOUNT_ID:function:coftech-backend-report-bot-prod"
AWS_EVENTBRIDGE_ROLE_ARN="arn:aws:iam::ACCOUNT_ID:role/coftech-backend-event-bridge-scheduler-role"

AWS_SQS_QUEUE_URL=xxx
AWS_SQS_QUEUE_URL_CANCEL=xxx

DNS_HOST_HOSTNAME="xxx"
DNS_HOST_USERNAME="xxx"
DNS_HOST_PASSWORD="xxx"

GITHUB_REPO_CLONE=https://XXX:XXXX

QDRANT_KEY="xxxxx"

OPEN_AI_API_KEY="xxxxx"

FILE_MANAGER_SIZE=5000000

PROCESSOR_WEBHOOK_INFO_PROCESSOR=PRODPROCESSORINFO
PROCESSOR_WEBHOOK_ERROR_PROCESSOR=PRODPROCESSORERROR
PROCESSOR_LOCALHOST=http://localhost:3003

NOCODB_URL="http://XXXX:XX"
NOCODB_TOKEN="xxxxxxxxxxxxx"

RABBITMQ_USER=xxxx
RABBITMQ_PASS=xxxx
RABBITMQ_HOST=localhost:5672
RABBITMQ_VIRTUAL_HOST=/
RABBITMQ_MAIN_QUEUE=main
RABBITMQ_WHATSAPP_QUEUE=whatsapp

NMI_URL="https://secure.nmi.com"

ENCRYPTION_KEY="xxxxx"

JWT_PAYMENT_SECRET=xxxxxxxxxxxx
JWT_RAFFLE_SECRET=xxxxxxxxxxxx

PAYMENT_SUCCESS_URL="https://xxxxx.xxx"
PAYMENT_FAIL_URL="https://xxxxx.xxx"
PAYMENT_DOMAIN="https://coftech-backend-payments.coftechservices.com"

GOOGLE_REDIRECT_URI="https://xxxxx.xxx"
GOOGLE_AUTH_SUCCESS_URL="http://localhost:3000/google/auth/success"
GOOGLE_AUTH_FAILURE_URL="http://localhost:3000/google/auth/failed"

BOT_MAKER_URL="https://api.botmaker.com/v2.0"

DISCORD_AVATAR=https://cdn.discordapp.com/avatars/COFTECH_BACKEND_APP_ID/COFTECH_BACKEND_AVATAR_HASH.png?size=512
DISCORD_AWS_TEST=https://discord.com/api/webhooks/COFTECH_BACKEND_AWS_TEST_ID/COFTECH_BACKEND_AWS_TEST_TOKEN
DISCORD_AWS_PROD=https://discord.com/api/webhooks/COFTECH_BACKEND_AWS_PROD_ID/COFTECH_BACKEND_AWS_PROD_TOKEN
DISCORD_BOT_PROD=https://discord.com/api/webhooks/COFTECH_BACKEND_BOT_PROD_ID/COFTECH_BACKEND_BOT_PROD_TOKEN
DISCORD_BOT_TEST=https://discord.com/api/webhooks/COFTECH_BACKEND_BOT_TEST_ID/COFTECH_BACKEND_BOT_TEST_TOKEN
DISCORD_PROCESSOR_TEST=https://discord.com/api/webhooks/COFTECH_BACKEND_PROCESSOR_TEST_ID/COFTECH_BACKEND_PROCESSOR_TEST_TOKEN
DISCORD_PROCESSOR_PROD=https://discord.com/api/webhooks/COFTECH_BACKEND_PROCESSOR_PROD_ID/COFTECH_BACKEND_PROCESSOR_PROD_TOKEN
DISCORD_PAYMENTS_TEST=https://discord.com/api/webhooks/COFTECH_BACKEND_PAYMENTS_TEST_ID/COFTECH_BACKEND_PAYMENTS_TEST_TOKEN
DISCORD_PAYMENTS_PROD=https://discord.com/api/webhooks/COFTECH_BACKEND_PAYMENTS_PROD_ID/COFTECH_BACKEND_PAYMENTS_PROD_TOKEN

EMAIL_USER=notifications@coftechservices.com
EMAIL_FROM=notifications@coftechservices.com
EMAIL_PASSWORD=XXXXXXXXX

RABBITMQ_USER_PROCESSOR=xxxx
RABBITMQ_PASS_PROCESSOR=xxxx
RABBITMQ_HOST_PROCESSOR=xxxx
RABBITMQ_VIRTUAL_HOST_PROCESSOR=xxxx

YAPPY_IPN_URL=https://coftech-backend-api.coftechservices.com/paymentsbg
YAPPY_API_URL_PROD=https://apipagosbg.bgeneral.cloud
YAPPY_API_URL_DEV=https://api-comecom-uat.yappycloud.com

DISCORD_INTERNAL_PAYMENTS_WEBHOOK_PROD=https://discord.com/api/webhooks/COFTECH_BACKEND_INTERNAL_PAYMENTS_PROD_ID/COFTECH_BACKEND_INTERNAL_PAYMENTS_PROD_TOKEN
DISCORD_INTERNAL_PAYMENTS_WEBHOOK_TEST=https://discord.com/api/webhooks/COFTECH_BACKEND_INTERNAL_PAYMENTS_TEST_ID/COFTECH_BACKEND_INTERNAL_PAYMENTS_TEST_TOKEN

WHATSAPP_WEBHOOK_URL=coftech-backend-meta.coftechservices.com

DISCORD_BACKEND_TEST=https://discord.com/api/webhooks/COFTECH_BACKEND_TEST_ID/COFTECH_BACKEND_TEST_TOKEN
DISCORD_BACKEND_PROD=https://discord.com/api/webhooks/COFTECH_BACKEND_PROD_ID/COFTECH_BACKEND_PROD_TOKEN
