# Orchestrator Environment Variables
# These variables are used when creating AWS instances for the orchestrator service

# Core Configuration
ORCHESTRATOR_ENVIRONMENT=production
ORCHESTRATOR_ALLOW_SUDO=false

# RabbitMQ Configuration
ORCHESTRATOR_RABBITMQ_USER=test
ORCHESTRATOR_RABBITMQ_PASS=test
ORCHESTRATOR_RABBITMQ_HOST=localhost
ORCHESTRATOR_RABBITMQ_VIRTUAL_HOST=test
ORCHESTRATOR_RABBITMQ_MAIN_QUEUE=main
ORCHESTRATOR_RABBITMQ_WHATSAPP_QUEUE=whatsapp

# Discord Notifications
ORCHESTRATOR_DISCORD_PROCESSOR_WEBHOOK=https://discord.com/api/webhooks/COFTECH_BACKEND_ORCHESTRATOR_ID/COFTECH_BACKEND_ORCHESTRATOR_TOKEN

# Docker Configuration
ORCHESTRATOR_CONTAINER_UID_GID=0:0
ORCHESTRATOR_USE_LOCAL_IMAGE=false

# AWS ECR
ORCHESTRATOR_ECR_REGISTRY=ACCOUNT_ID.dkr.ecr.us-east-1.amazonaws.com/coftech-backend-orchestrator
ORCHESTRATOR_AWS_REGION=us-east-1
ORCHESTRATOR_AWS_ACCESS_KEY_ID=xxxxxx
ORCHESTRATOR_AWS_SECRET_ACCESS_KEY=xxxx

# AWS FILEMANAGER
ORCHESTRATOR_BOT_TOKEN=
